# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languaages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Dplyr
4. NumPy
5. Keras

# Data Science Tools
|Three Development Environtment Open Source|
|-----|
|Jupyter Notebooks|
|R Studio|
|GitHub|

### Below are a few examples of evaluating arithmetic expression in Python

In [21]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
List popular languages for Data Science.
- Python
- R
- Java
- SQL
- C/C++

## Author
Asyifa Nur Fadhilah